<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>folkpocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Save all mac stories at folklore.org to pocket">
    <meta name="author" content="Rob Merrell">

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://www.amazon.com/exec/obidos/asin/1449316247/ref=nosim/folklore-20">Buy the folklore.org Book</a></li>
          <li><a href="http://github.com/robmerrell/folkpocket">Get the Code</a></li>
        </ul>
        <h3 class="muted">folkpocket</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>folklore.org in your pocket</h1>
        <p class="lead">Easily and quickly save all of the Mac stories on <a href="http://www.folklore.org">folklore.org</a> to your <a href="http://www.getpocket.com">pocket</a> account.</p>
        <a class="btn btn-large btn-success" href="#">Sign into pocket</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div>
          <h4>What is going to happen?</h4>
          <ul>
            <li>You authenticate with your pocket account by clicking the "Sign into pocket" button</li>
            <li>After authenticating choose a tag name that you would like all of the stories saved under in pocket</li>
            <li>Save the stories in pocket</li>
            <li>Read and revel in the Mac geekiness</li>
          </ul>
        </div>
      </div>
      
      <hr>

      <div class="footer">
        <p>folklore.org content is licensed under the Creative Commons Attribution-NonCommercial License <a href="http://www.folklore.org/faq.html">learn more</a></p>
        <p>The folkpocket code is licensed under the MIT license. <a href="http://github.com/robmerrell/folkpocket">Do what you want with it</a></p>
        <p>&copy; Rob Merrell 2013</p>
      </div>

    </div> <!-- /container -->

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
  </body>
</html>
